# Dependency directories
node_modules/
*/node_modules/

# Mac OS files
.DS_Store
**/.DS_Store

# Environment files
.env
.env.*

# Backend generated folders
backend/uploads/
backend/db/

# Frontend build outputs
frontend/dist/
frontend/dist-ssr/
frontend/.vite/

# Logs
logs
*.log
npm-debug.log*

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
